.user-list-cont {
    display: flex;
    width: 100%;
    

    .users-body {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding:0rem 1rem 0rem 1rem;
        // border-left: 1px solid #fff;
        overflow-y:scroll;
        height: calc(100vh - 80px - 3rem);

        @media only screen and (max-width: 980px) {
            width: 100%;
         }

         @media only screen and (max-width: 485px) {
            padding: 0;
         }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color:transparent ;
        }
        &::-webkit-scrollbar {
            width: 6px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #555;
        }
  


        .social-users-card {
            background-color: rgba(196, 196, 196, 0.1);
            border-radius: 20px;
            margin: 0.5rem 0rem;
            width: 50vw;

            @media only screen and (max-width: 980px) {
                width: 80vw;
             }

             @media only screen and (max-width: 612px) {
                width: 90vw;
             }
            

            .user-card-body {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 1rem 2.3rem;
                .user-img {
                    .image {
                        background-color: #fff;
                        width: 5.5rem;
                        height: 5.5rem;
                        border-radius: 50%;

                        @media only screen and (max-width: 542px) {
                            width: 4.5rem;
                            height: 4.5rem;
                         }
                    }
                }

                .user-info {
                    padding: 0rem 2rem;
                    .text {
                        color: #fff;
                        font-family: "Shapiro-45-ext";
                        font-size: 0.9rem;

                        @media only screen and (max-width: 542px) {
                            font-size: 0.7rem;
                         }
                    }
                }
            }
        }
    }

    .user-info-sec {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 980px) {
            display: none;
         }
        .hover-cap {
            
            .hover {
                color: #fff;
                font-family: 'Shapiro-45-ext';
            }
        }
    }

    .user-show-sec {
        width: 45%;

        @media only screen and (max-width: 980px) {
            display: none;
         }

        padding:1.5rem 1.5rem;
        font-family: 'Shapiro-45-ext';
        line-height: 180%;


        .title {
            font-family: 'Shapiro-55-ext';
            color: #fdf800;
            font-size: 2rem;
        }

        .main {
            display: flex;
            padding: 2rem 0rem;

            .show-pic {
                width: 10rem;
                height: 10rem;
            }

            .main-details {
                padding-left: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                line-height: 180%;
                .name {
                    color: #fff;
                }
            }
        }

        .email {
            color: #fff;
        }
    }
}
