.loader-cont {
    height: 100vh;
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .loading-logo {
        width: 7rem;
        padding: 1rem 0rem;
    }

    .dot-collision {
        position: relative;
        width: 10px;

        height: 10px;
        border-radius: 5px;
        background-color: #fdf800;
        color: #fdf800;
    }

    .dot-collision::before,
    .dot-collision::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
    }

    .dot-collision::before {
        left: -10px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #fdf800;
        color: #fdf800;
        animation: dotCollisionBefore 2s infinite ease-in;
    }

    .dot-collision::after {
        left: 10px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #fdf800;
        color: #fdf800;
        animation: dotCollisionAfter 2s infinite ease-in;
        animation-delay: 1s;
    }

    @keyframes dotCollisionBefore {
        0%,
        50%,
        75%,
        100% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-15px);
        }
    }

    @keyframes dotCollisionAfter {
        0%,
        50%,
        75%,
        100% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(15px);
        }
    }
}
