.inst-detail-cont {
    background-color: #141414;
    min-height: 100vh;
    padding: 0;

    .posts-header {
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 2rem;

        @media only screen and (max-width: 500px) {
            padding: 0rem 0.5rem;
        }

        .back-cont {
            .back {
                color: #fff;
                text-decoration: underline;
                font-family: "Shapiro-55-ext";
                transition: all 1s ease;

                &:hover {
                    text-decoration: line-through;
                }
            }
        }
    }

    .wrapper {
        .heading {
            padding: 0rem 2rem;

            @media only screen and (max-width: 500px) {
                padding: 1rem 0.5rem;
            }
            .title {
                font-family: "Shapiro-55-ext";
                font-size: 3rem;
                color: #fdf800;

                @media only screen and (max-width: 800px) {
                    font-size: 3rem;
                }

                @media only screen and (max-width: 600px) {
                    font-size: 2.5rem;
                }

                @media only screen and (max-width: 400px) {
                    font-size: 2rem;
                }
            }
        }

        .body {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 4rem;

            @media only screen and (max-width: 600px) {
                padding-top: 2rem;
            }
            .post-img {
                .image {
                    width: 25rem;
                    height: 25rem;
                    object-fit: cover;
                }
            }

            .post-info {
                padding: 0rem 2.5rem;
                line-height: 300%;

                @media only screen and (max-width: 500px) {
                    padding: 0rem 0.5rem;
                }
                .text {
                    color: #fff;
                    font-family: "Shapiro-45-ext";
                    font-size: 1.2rem;

                    @media only screen and (max-width: 542px) {
                        font-size: 1rem;
                    }

                    .name {
                        &:hover {
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
}
