.users-page-main-div{
    background-color: #141414;
    width:100vw;
    min-height:100vh;
    display:flex;
    flex-direction: row;
    .first-column{
        flex:0.17;
        background-color: #141414;
        height:100vh;
        display:flex;
        flex-direction:column;
        .back-button-area{
            flex:0.15;
            display:flex;
    
            justify-content: center;
            align-items: center;
            .main-text{
                font-family: "Shapiro-55-ext";
                font-weight: bold;
                font-size:0.9rem;
                color:white;
                text-decoration: underline;
                text-transform: uppercase;
            }
        }
        .logo-area{
            flex:0.85;
            display:flex;
            justify-content: center;
            align-items: flex-end;
            
            .main-image{
                transform:scale(0.6);
            }
        }
    }
    .second-column{
        flex:0.66;
        height:100vh;
        display:flex;
        flex-direction:column;

        .search-bar-area{
            flex:0.15;
            width:100%;
            
            display:flex;
            justify-content: flex-end;
            align-items:center;
            .search-bar{
                margin-right:3rem;
                width:25rem;
            }
        }
        .userdata-area{
            flex:0.85;
        }
    }
    .third-column{
        flex:0.17;
      
        height:100vh;

    }
}